<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
	<header th:replace="layout/layout :: header"></header>
	<div class="container py-4">
				<div class="card bg-light">
			<div class="card-header" th:text="${title}"></div>
			<div class="card-body">
				<img th:if="${#strings.length(client.photo) > 0}" class="img-thumbnail rounded float-left photo-size" th:src="@{'/uploads/images/' + ${client.photo}}" th:alt="${client.photo}">
				<ul class="list-group">
					<li class="list-group-item" th:text="${client.name}"></li>
					<li class="list-group-item" th:text="${client.surname}"></li>
					<li class="list-group-item" th:text="${client.email}"></li>
					<li class="list-group-item" th:text="${client.creationDate}"></li>
				</ul>
				<div th:if="${#lists.isEmpty(client.invoices)}" class="alert alert-info my-4" th:text="'There are no invoices assigned to the Client ' + ${client.name} + ' ' + ${client.surname}"></div>
				<table th:if="${not #lists.isEmpty(client.invoices)}" class="table table-bordered table-striped my-4">
				<thead class="thead-inverse">
					<tr>
						<th>Invoice</th>
						<th>Description</th>
						<th>Date</th>
						<th>Total</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="invoice: ${client.invoices}">
						<td th:text="${invoice.id}"></td>
						<td th:text="${invoice.description}"></td>
						<td th:text="${invoice.creationDate}"></td>
						<td th:text="${invoice.total}"></td>
					</tr>
				</tbody>
				</table>
			</div>
		</div>
	</div>
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>