<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
	<header th:replace="layout/layout :: header"></header>
	<div class="container py-4">
		<div class="card bg-dark">
			<div class="card-header bg-secondary text-white" th:text="${title}"></div>
			<div class="card-body">
				<h4 class="card-title">
					<a class="btn btn-secondary btn-xs" th:href="@{/create}" th:text="'New Client'"></a>
				</h4>
				<table class="table table-striped table-bordered text-center">
					<thead class="thead-dark">
						<tr>
							<th>Id</th>
							<th>Name</th>
							<th>Surname</th>
							<th>Email</th>
							<th>Creation Date</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
						<tr class="bg-light align-middle" th:each="client: ${clients}">
							<td class="align-middle">
								<a class="btn btn-info btn-xs" th:href="@{/details/} + ${client.id}" th:text="${client.id}"></a>
							</td>
							<td class="align-middle" th:text="${client.name}"></td>
							<td class="align-middle" th:text="${client.surname}"></td>
							<td class="align-middle" th:text="${client.email}"></td>
							<td class="align-middle" th:text="${client.creationDate}"></td>
							<td class="align-middle">
								<a class="btn btn-success btn-xs" th:href="@{/edit/} + ${client.id}" th:text="'Edit'"></a> 
								<a class="btn btn-danger btn-xs" th:href="@{/delete/} + ${client.id}" 
								th:text="'Delete'" onclick="return confirm('Do you want to delete this client?');"></a>
							    <a class="btn btn-primary btn-xs" th:href="@{/invoice/create/} + ${client.id}" th:text="'Create Invoice'"></a>
							</td>
						</tr>
					</tbody>
				</table>
				<div class="row">
					<div class="offset-md-4 col-md-4">
						<nav th:replace="paginator-nav :: paginator"></nav>
					</div>
					<div class="col-md-4"></div>
				</div>
			</div>
		</div>
	</div>
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>