<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
	<header th:replace="layout/layout :: header"></header>
	<div class="container py-4">
		<div class="card border-primary col-md-6 text-center card-login">
			<div class="card-header" th:text="'Sign In'"></div>
			<div class="card-body">
				<form th:action="@{/login}" method="post">
					<div class="form-group">
						<input type="text" id="username" name="username" class="form-control" placeholder="Username" autofocus required/>
					</div>
					<div class="form-group">
						<input type="password" id="password" name="password" class="form-control" placeholder="Password" required/>
					</div>
					<div class="form-group">
						<input type="submit" class="btn btn-md btn-primary btn-block" value="Submit" />
					</div>
				</form>
			</div>
		</div>
	</div>
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>